* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/bg.jpg");
    background-size: auto;
}

.login {
    width: 400px;
    background: #1b2856;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 7px 10px 30px #000;
}

.login img {
    width: 350px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #1b2856;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #00c9ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}

.controls::placeholder {
    color: gainsboro;
}

.controls::-webkit-input-placeholder {
    color: gainsboro;
}

.controls::-moz-placeholder {
    color: gainsboro;
}

.controls:-ms-input-placeholder {
    color: gainsboro;
}

.controls:-moz-placeholder {
    color: gainsboro;
}

.login .boton {
    width: 100%;
    background: #00c9ff;
    border: none;
    padding: 12px;
    color: white;
    margin: 6px 0;
    font-size: 16px;
    border-radius: 4px;
}