* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background-image: url("../img/bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
    background-size: auto;
    
}

/*--- LOGIN ADMIN ---*/
.login {
    width: 400px;
    background: #1b2856;
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-shadow: 7px 10px 30px #000;
}

.login img {
    width: 350px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #1b2856;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #00c9ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.controls::placeholder {
    color: gainsboro;
}

.controls::-webkit-input-placeholder {
    color: gainsboro;
}

.controls::-moz-placeholder {
    color: gainsboro;
}

.controls:-ms-input-placeholder {
    color: gainsboro;
}

.controls:-moz-placeholder {
    color: gainsboro;
}

.login .boton {
    width: 100%;
    background: #00c9ff;
    border: none;
    padding: 12px;
    color: white;
    margin: 6px 0;
    font-size: 16px;
    border-radius: 4px;
}

.wrap {
    width:900px;
    max-width: 90%;
    margin: 100px auto;
}

ul.tabs {
    width: 100%;
    background: #1b2856;
    list-style: none;
    display: flex;
}

ul img {
    height: 70px;
    margin-left: 20px;

}

ul.tabs li {
    width: 13%;
}

ul.tabs li a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 25px auto;
}

ul.tabs li:hover {
    background-color: #7c00ff;
}

.sections {
    width: 100%;
    background-color: white;
}

.sections article {
    padding: 50px;
    padding-bottom: 18px;
}

.boton {
   
    width: 10%;
    background: #00c9ff;
    border: none;
    padding: 9px;
    color: white;
    margin: auto;
    margin-left: 50px;
    font-size: 14px;
    border-radius: 4px;
}
.boton:hover {background-color: #3e8e41}



/*--- PANEL ADMIN ---*/
header {
    background: #1b2856;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

img {
    width: 150px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 0px;
    padding: 25px 20px;
    float: left;
    position: relative;
}

nav ul li:hover {
    background-color: #7c00ff;
}

.active {
    background-color: #00c9ff;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a{
     text-decoration: none;
}